@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Salsa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #6764ee;
}

div.card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 80%;
    max-width: 500px;
    height: 250px;
    margin: 0 auto;
    border-radius: 12px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

h2 {
    font-size: 22px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

input#message {
    width: 75%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

form > button {
    width: 25%;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 6px;
    background-color: #6764ee;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

p#my-message {
    font-weight: bold;
    color: green;
}